.App {
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: #100F0F  /* !important */ ;
 
}

.liste{
  display: grid;
  grid-template-columns: repeat(5,1fr);
  grid-gap: 50px;
  margin: auto;
  justify-content: space-evenly;
  margin-left: 50px;
  margin-top: 15px;
}
.home{
  display: grid;
  grid-template-columns: 3fr 1fr;
}

.filter{
  display: grid;
}
.add{
  display: grid;
  gap: 5px;
}
.add input, .add button{
  width: 50%;
  height: 20px;
  margin: auto;
}
